/* d3QuickMap plugin: core styles
 * version 1.0.0
 * author: Chienyi Cheri Hung @cyhung
 */

@import "../_lib/prefixer.less";

@tooltipbgd_color: #333333;
@tooltiptxt_color: #ffffff;

@em: 16*1em;    // Shorthand for outputting ems, e.g. "16/@em"
@px: 1px;
@line: 32; 
@bodywidth: 100%;

@font-size: 14;  // base font-size in pixels
@fontfamily: Arial, sans-serif;

.tiny {
font-size: 10/@em;
line-height: (@line / @em)*.8;
}
.small {
font-size: 12 / @em;
line-height: (@line / @em)*.8;
}
.normal {
font-size: @font-size/@em;
line-height: (@line / @em)*.8;
}
.medium {
font-size: 16 / @em;
line-height: (@line / @em)*.7;
}
.large {
font-size: 24 / @em;
line-height: (@line / @em)*.8;
font-weight: 500;
}
.huge {
font-size: 27 / @em;
font-weight: 500;
line-height: (@line / @em);
}

body {
   margin:0;
   padding:0;
   .normal();
   font-family: @fontfamily;
}

.d3-tip {

  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(red(@tooltipbgd_color), green(@tooltipbgd_color), blue(@tooltipbgd_color), 0.8);
  color: @tooltiptxt_color;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
   border-radius:2px;

  span.value {
      color: #FFF293;
      text-transform: capitalize;
  }
} //.d3-tip
.d3-tip:after {
  border-width:10px 10px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color: rgba(red(@tooltipbgd_color), green(@tooltipbgd_color), blue(@tooltipbgd_color), 0.8) transparent;
  content: "";
  position: absolute;
  left: 10%;
  top: 100%;
}

/* Style northward tooltips differently 
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/
path {
   stroke: #ddd;
   stroke-width: 1px;
}
.states-overlay {
  stroke: #eee;
  stroke-linejoin: round;
}
.legend-scale {
   width: 200px;
   height: 20px;
   position:absolute;
   top: 30px;
   border:1px solid #ccc;
   font-size: 10px;
   text-align:right;
   padding: 0 5px;
 /*added if using custom color scale for linear map */
    .linear-gradient-left(#08306B,#F7FBFF,35%,#08306B,100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(8,48,107)', endColorstr='rgb(247,251,255)') !important;
   -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(8,48,107)', endColorstr='rgb(247,251,255)')' !important;
   
   .max {
      float:right;
      color: #fff;
   }
   .min {
      float:left;
      color: #999;
   }

} //.legend-scale

.yes {
     fill: #297ED8;
}

.no {
    fill: #77AD58;
}

.flat {
     fill: #E8C96D;
}

.q0-9 { fill:#F7FBFF !important; }
.q1-9 { fill:#DEEBF7 !important; }
.q2-9 { fill:#C6DBEF !important; }
.q3-9 { fill:#9ECAE1 !important; }
.q4-9 { fill:#6BAED6 !important; }
.q5-9 { fill:#4292C6 !important;  }
.q6-9 { fill:#2171B5 !important; }
.q7-9 { fill:#08519C !important; }
.q8-9 { fill:#08306B !important; } 

