/* d3QuickMap plugin: core styles
 * version 1.0.0
 * author: Chienyi Cheri Hung @cyhung
 */
.tiny {
  font-size: 0.625em;
  line-height: 1.6em;
}
.small {
  font-size: 0.75em;
  line-height: 1.6em;
}
.normal {
  font-size: 0.875em;
  line-height: 1.6em;
}
.medium {
  font-size: 1em;
  line-height: 1.4em;
}
.large {
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: 500;
}
.huge {
  font-size: 1.6875em;
  font-weight: 500;
  line-height: 2em;
}
body {
  margin: 0;
  padding: 0;
  font-size: 0.875em;
  line-height: 1.6em;
  font-family: Arial, sans-serif;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 10px;
  background: rgba(51, 51, 51, 0.8);
  color: #ffffff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.d3-tip span.value {
  color: #FFF293;
  text-transform: capitalize;
}
.d3-tip:after {
  border-width: 10px 10px 0;
  /* vary these values to change the angle of the vertex */

  border-style: solid;
  border-color: rgba(51, 51, 51, 0.8) transparent;
  content: "";
  position: absolute;
  left: 10%;
  top: 100%;
}
/* Style northward tooltips differently 
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}*/
path {
  stroke: #ddd;
  stroke-width: 1px;
}
.states-overlay {
  stroke: #eee;
  stroke-linejoin: round;
}
.legend-scale {
  width: 200px;
  height: 20px;
  position: absolute;
  top: 30px;
  border: 1px solid #ccc;
  font-size: 10px;
  text-align: right;
  padding: 0 5px;
  /*added if using custom color scale for linear map */

  background-color: #08306b !important;
  background-image: -webkit-gradient(linear, left top, left top, color-stop(35%, #f7fbff), color-stop(100% #08306b)) !important;
  background-image: -webkit-linear-gradient(left, #f7fbff 35%, #08306b 100%) !important;
  background-image: -moz-linear-gradient(left, #f7fbff 35%, #08306b 100%) !important;
  background-image: -ms-linear-gradient(left, #f7fbff 35%, #08306b 100%) !important;
  background-image: -o-linear-gradient(left, #f7fbff 35%, #08306b 100%) !important;
  background-image: linear-gradient(left, #f7fbff 35%, #08306b 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgb(8,48,107)', endColorstr='rgb(247,251,255)') !important;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorstr=' #08306b ', endColorstr=' #f7fbff ')' !important;
}
.legend-scale .max {
  float: right;
  color: #fff;
}
.legend-scale .min {
  float: left;
  color: #999;
}
.yes {
  fill: #297ED8;
}
.no {
  fill: #77AD58;
}
.flat {
  fill: #E8C96D;
}
.q0-9 {
  fill: #F7FBFF !important;
}
.q1-9 {
  fill: #DEEBF7 !important;
}
.q2-9 {
  fill: #C6DBEF !important;
}
.q3-9 {
  fill: #9ECAE1 !important;
}
.q4-9 {
  fill: #6BAED6 !important;
}
.q5-9 {
  fill: #4292C6 !important;
}
.q6-9 {
  fill: #2171B5 !important;
}
.q7-9 {
  fill: #08519C !important;
}
.q8-9 {
  fill: #08306B !important;
}
