{% layout "layout-demo-single" %}
{% block style %}
  {{ "d3qm-custom-demo.css" | asset_url | stylesheet_tag }}
{% endblock %}
{% block title %}
  	{% for item in global.demos limit:1 offset:3 %}
	  Example: {{ item.name }}
	{% endfor %}
  {% endblock %}
{% block content %}
  
   	<div id="maps_1"></div>
	<br/>
	<div id="maps_2"></div>

	<script type="text/javascript">
	  var settings_1 = {
	       mapType: 'us-states', //us-states or us-counties
	       dataSource: 'data/sampledata-states.csv', 
	       dataPoint: 'population',
	       width: 560,
	       height: 300,
	       numberFormat: ",", //see d3.format(); ".1%" = % with 1 decimal place; "," for thoustand separator
	       colorScheme: "orange", //use default d3 category10() color scheme
	       legend: {
		    showLegend: true, //true to display legend, false to not display legend at all.
		    showCount: true, //true to display count for each key, false to not display
		    type: 'default', //set to either default or custom
		    customKeys: null
		    },
	      path: 'd3qm-plugin/'
	   };
	  var settings_2 = {
	       mapType: 'us-states', //us-states or us-counties
	       dataSource: 'data/sampledata-states.csv', 
	       dataPoint: 'income_tax',
	       width: 560,
	       height: 300,
	       numberFormat: ",", //see d3.format(); ".1%" = % with 1 decimal place; "," for thoustand separator
	       colorScheme: "orange", //use default d3 category10() color scheme
	       legend: {
		    showLegend: true, //true to display legend, false to not display legend at all.
		    showCount: true, //true to display count for each key, false to not display
		    type: 'default', //set to either default or custom
		    customKeys: null
		    },
	      path: 'd3qm-plugin/'
	   };

          var map_1 = new d3QuickMap();
          var map_2 = new d3QuickMap();
	  map_1.drawMap('maps_1', settings_1);
	  map_2.drawMap('maps_2', settings_2);
	</script>
{% endblock %}